<!DOCTYPE html>
<html>
<head>
	<title>2018 Central Park Squirrel Sightings</title>
</head>
<body background ="https://img2.goodfon.com/wallpaper/nbig/0/1e/art-detskaya-belochka-pirozhnoe.jpg">
	<div>
		<h1>2018 Central Park Squirrel Sightings</h1>
	</div>
	
	<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzEeMNjOQwfj517Fm3K8Bs0cgKtnZS61ayOMnKoJhEVFfHxP6gxQ&s" width="40" height="40"><a href="/sightings/add/">Add New Sightings</a></p>
	<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzEeMNjOQwfj517Fm3K8Bs0cgKtnZS61ayOMnKoJhEVFfHxP6gxQ&s" width="40" height="40"><a href="/sightings/stats/">General Sighting Statistics</a></p>
	<h3>Existing Squirrels Information with ID </h3>
	<div>
		<ul>
			{% for single_squirrel in squirrels %}
			<li>
				{{single_squirrel}}&nbsp;
				<a href='/sightings/{{single_squirrel.unique_squirrel_id}}/'>View & Update </a>
			</li>
			{% endfor %} 
		</ul>
	</div>
</body>
</html>
