<!DOCTYPE html>
<html>
<head>
	<title>View and Update Squirrel Sighting</title>
<style>
input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
	<h2>View and Update {{ sightings.unique_squirrel_id }}  Squirrel Sighting</title>

<form action="" method="post">
  {% csrf_token %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <table>
  {{ form.as_p }}

  <input type="submit" value="Submit">
  </form>



</body>
</html>
