<h1>General Sighting Statistics</h1>

<h3>Attribute 1: Unique Squirrel</h3>
<p>Total number of unique squirrels: [{{% for item in st_count_squirrels %}}] </p>

<h3>Attribute 2: Shift</h3>
<p>Frequency for sighting session in the morning(AM): </p>
<p>Frequency for sighting session in the afternoon(PM): </p>

<h3>Attribute 3: Age</h3>
<p>The number of ADULT squirrels: </p>
<p>The number of JUVENILE squirrels: </p>

<h3>Attribute 4: Location</h3>
<p>The number of squirrels sighted-Above Ground: </p>
<p>The number of squirrels sighted-Ground Place: </p>

<h3>Attribute 5: Movement </h3>
<p>The number of squirrels seen RUNNING: </p>
<p>The number of squirrels seen EATING: </p>
